:root {
    --primary-color: #29a598;
    --text-color: #394c4a;
    --background-light: #ffffff;
    --header-height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 110%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', Helvetica, sans-serif;
    color: #394c4a;
    line-height: 1.5;
    overflow-x: hidden;
}

.header-background {
    background: url("https://img.freepik.com/free-vector/realistic-neon-lights-background_23-2148907367.jpg") center center fixed;
    background-size: cover;
    text-align: center;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0.5%;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(219, 18, 18, 0.616);
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

nav .logo img {
    height: 70px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Unica One', cursive;
    font-size: 1.2rem;
}

.header-content img {
    max-width: 200px;
    border-radius: 60%;
}

.header-content h1, .header-content p {
    margin: 0.5rem 0;
    font-family: 'Unica One', cursive;
    color: #fff;
}

#about {
    background: url("https://img.freepik.com/free-vector/futuristic-background-design_23-2148503793.jpg") center center;
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0.5%;
    text-align: center;
    height: 100vh;
}

#r {
    color: white;
}

.profile-photo {
    max-width: 20%;
    height: auto; 
    border-radius: 70%; 
}

.c {
    color: white;
}

.uu {
    color: gold;
}

.skills {
    margin-top: 20px;
}

.skill-btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.skill-btn:hover {
    background-color: #208479;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#project {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPoOS7y6Uej-7vCl3458BEysbMOYN5XaBeiXXafAEhgCAiGI4Zlczs2Scgc6NcjSqHQ88&usqp=CAU") center center; 
    padding: 15px;
    border-radius: 0.5%;
    text-align: center;
    margin-bottom: 10px;
    height: 100vh;
    color: #f4f4f4;
}

.project {
    width: 200px;
    height: 250px;
    border: 5px solid #ccc;
    border-radius: 10%;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
}

.yy {
    color: white;
}

.project img {
    width: 100%;
    height: auto;
}

.project p {
    margin: 10px 0 0;
    font-size: 1.1rem;
}

#contact {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgbKlpf5Y4IeIeMmMzi4f0pDRCSZDsmIDSMw&s"); 
    padding: 15px;
    border-radius: 0.5%;
    text-align: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.gg {
    color: white;
}

.contact-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.contact-item {
    width: 100px;
    height: 100px;
    border: 5px solid #ccc;
    border-radius: 10%;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
   background-color: #db22417b;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

 .contact-item a {
    margin: 10px 0;
    font-size: 1.1rem;
    text-align:center;
    text-decoration: none;
}

.contact-item a {
    color: #007bff;
    text-decoration: none;
}
.ww{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu9NK0-3LLYvUCYD0yxndt9EoKZ5n6caE7jA&s");
}
.td-btn {
    padding: 12px 36px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    background-color: #db2241; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}

h2 {
    color: #333;
    font-family: 'Unica One', cursive;
    font-size: 2.3rem;
}

a {
    color: #44a529;
    transition: color 0;
}
